.menubar {
	width: 278px;
	height: 160px;
	border-radius: 30px;
	background: #fff;
	box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.1);
}

.menubar h4 {
	color: #000;
	
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 94.687%; /* 34.087px */
	letter-spacing: 1.08px;
}

.menubar span {
	color: #b4bccf;
	
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 144.687%; /* 28.937px */
	letter-spacing: 0.6px;
}

.menubar h5 {
	color: #01c550;
	
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 144.687%; /* 46.3px */
	letter-spacing: 0.96px;
}

.menubar button {
	padding-left: 40px;
}
